<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>

		<!-- <SMTP name="SMTPAppender" 
			smtpPort="25" 
			subject="Test send log" 
			to="tasha2k7@mail.com" 
			from="tasha2k7@mail.com" 
			smtpHost="smtp.mail.ru" 
			smtpUsername="tasha2k7" 
			smtpPassword="breakfast1" 
			bufferSize="512"> </SMTP> -->

	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

		<Logger level="info" name="ru.tasha2k7.mail.motordepot"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
			<!-- <appender-ref ref="SMTPAppender" /> -->
		</Logger>

	</Loggers>




	<!-- Если ваше приложение деплоится в различных временных зонах, то удобно 
		писать логи в UTC apache-log4j-extras.jar. -->
	<!-- <layout class="org.apache.log4j.EnhancedPatternLayout"> -->
	<!-- <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm.SSS}{UTC} 
		name %5p \[%t\] %c{1} - %m%n"></layout> -->


</Configuration>